.container {
  padding: 0 4rem;
  
}

.input {
  margin-bottom: 30px;
}

.thead {
  font-weight: 800;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.namecontainer {
  display: flex;
  gap: 1rem;
}

